label[for^='ex5-input'] {
  margin-right: 0.2rem;
}

input[id^='ex5-input'] {
  margin-left: 0.2rem;
}

#ex7-box1,
#ex7-box2,
#ex7-box3 {
  cursor: grab;
}

#ex6-box {
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  margin: 1rem auto;
}

.ex7-box {
  background-color: red;
  width: 40px;
  aspect-ratio: 1/1;
}

#ex7-box-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
